.input-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);;
    overflow: hidden;
    padding: 10px;
    margin: 30px auto;
}

.input-form > * {
    padding: 10px;
}

fieldset {
    border: none;
}

fieldset > * {
    margin: 5px;
}

/* form {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */