.plants {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);  
    width: 75%;
    margin: auto; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
    justify-items: center;

}