.plant-details {
    display: flex;
    flex-direction: column;
    /* min-width: 300px; */
    width: 75%;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* padding: 10px; */
    margin: 30px auto;
    padding: 2rem;
}

.plant-details h3 {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.plant-details-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: auto;
    /* padding-right: -20px; */
}

.plant-details-image {
    max-width: 50%;
    min-width: 175px;
    height: 200px; 
    overflow: hidden;
    /* display: block; */
    border-radius: 8px
}

.plant-gen-info {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-left: 2rem;
}

.plant-gen-info > * {
    display: inline;
    flex-wrap: wrap;
    margin-right: auto;  
}

.plant-gen-info p {
    text-align: left;
}

.plant-gen-info h1 {
    margin: 0;
    font-weight: 600;
    text-align: left;
    padding-bottom: 1rem;
    padding-right: 0;
}

.plant-gen-info div {
    margin: -5px;
    padding: 0px;
}

.growing-dates {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.growing-dates > * {
    margin-right: 2rem;
    margin-left: 2rem;
}

/* .outdoor-dates {
    display: block;
    justify-content: center;
} */

@media screen and (max-width: 600px) {
    .plant-details-image {
        display: none
    }

    .plant-gen-info {
        width: 100%;
        padding-left: 0px;
    }

    .plant-gen-info > * {
        justify-content: center;
        margin: auto;
    }

    .plant-gen-info p {
        text-align: center;
    }

    .plant-gen-info h1 {
        text-align: center;
    }

    .growing-dates {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}