/* Plant card container */
.plant {
    background-color: white;
    border-radius: 4px;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 7px;
    width: 250px;
}

/* Image container at the top */
.plant-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.plant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Container for plant name and button (side by side) */
.plant-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px;
    align-content: center;
}

.plant-info button {
    max-width: 33px;
}

.plant-name {
    width: 75%;
    text-align: left;
    align-content: center;
    padding-right: 2px;
}

.created-plant-name {
    width: 75%;
    text-align: left;
    align-content: center;
}

/* Save button styling */
button {
    flex: 1 30px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
    max-height: 33px;
}

.fa {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #717744;
}

.btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* width: 1rem; */
    align-items: center;
}

.edit-btn {
    margin-right: 4px;
}

.save-button {
    background-color: rgb(200, 200, 200);
}

.save-button:hover {
    background-color: rgb(200, 200, 200);
}