/* button[type="submit"] {
    background-color: white;
} */

button {
    background-color: #373D20;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}